@charset "utf-8";

// Define defaults for each variable.

$font-family:      'Raleway', sans-serif !default;
$font-family-headline:  'Amatic SC', cursive !default;
$font-size:             16px !default;
$font-size-small:       $font-size * 0.875 !default;
$font-weight:           400 !default;
$line-height:           1.5 !default;
$line-height-headline:  1.2 !default;

$spacing-unit:          30px !default;
$spacing-unit-big:      $spacing-unit * 1.865;
$spacing-unit-small:    $spacing-unit / 2;
$spacing-unit-smaller:  $spacing-unit / 3;

$color-text:            #000000 !default;
$color-background:      #FFFFFF !default;
$color-accent-1:        #FF9800 !default;
$color-accent-2:        #F6F6F6 !default;
$color-accent-3:        #6B778F !default;

$color-link:            $color-accent-3 !default;
$color-link-visited:    darken($color-link, 15%) !default;
$color-link-hover:      $color-text !default;

// Width of the content area
$content-width:         800px !default;

$on-palm:               600px !default;
$on-laptop:             800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $font-size * $ratio;
}

// Import partials.
@import
  "font-awesome-4.7.0/font-awesome",
  "google-fonts/amatic-sc",
  "google-fonts/raleway",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
