/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  text-align: justify;
  color: $color-text;
  background-color: $color-background;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit-small;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-small;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font: $font-weight #{$font-size}/#{$line-height-headline} $font-family-headline;
}



/**
 * Links
 */
a {
  color: $color-link;
  text-decoration: none;

  &:visited {
    color: $color-link-visited;
  }

  &:hover {
    color: $color-link-hover;
  }
}



/**
 * Blockquotes
 */
blockquote {
  @include relative-font-size(1.125);
  border-left: 4px solid $color-accent-2;
  color: $color-accent-1;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit-small;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
* Thematic break
*/
hr {
  border: none;
  text-align: center;

  &:after {
    content: "***";
    font: $font-weight #{$font-size*1.2}/#{$line-height-headline} $font-family-headline;
    letter-spacing: $spacing-unit-small;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid darken($color-accent-2, 4%);
  border-radius: 3px;
  background-color: $color-accent-2;
}

code {
  padding: 1px 3px;

  table {
    border: none;
    margin: 0;
    width: auto;

    td {
      padding: 0;

      &:first-child {
        padding-right: $spacing-unit-small;
      }

      > pre {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

pre {
  padding: $spacing-unit-smaller $spacing-unit-small;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
* Definition list
*/
dt {
  font-weight: bold;
  font-style: italic;
}

dd {
  font-style: italic;
  margin-bottom: $spacing-unit-smaller;
}



/**
 * Tables
 */
table {
  border-top: 2px solid darken($color-accent-2, 12%);
  border-bottom: 2px solid darken($color-accent-2, 12%);
  border-collapse: collapse;
  margin-bottom: $spacing-unit;
  width: 100%;

  th, td {
    padding: $spacing-unit-smaller $spacing-unit-small;
  }

  th {
    border-bottom: 1px solid darken($color-accent-2, 12%);
    text-align: center;
  }

  td {
    border-bottom: 1px solid $color-accent-2;
  }
}
