/**
* Basic Layout
*/
body {
  display: grid;
  grid-template-rows: $spacing-unit-big 1fr $spacing-unit-big;
  grid-row-gap: $spacing-unit;
  min-height: 100vh;
}



/**
 * Site header
 */
body > header {
  background-color: $color-accent-2;
  border-bottom: 1px solid $color-accent-3;
  border-top: 5px solid $color-accent-3;
  padding-left: $spacing-unit-small;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 100;
  letter-spacing: -1px;
  line-height: $spacing-unit-big;

  &,
  &:visited {
    color: $color-text;
  }
}



/**
 * Site footer
 */
body > footer {
  border-top: 2px solid $color-accent-2;
  padding-top: $spacing-unit-small;
}

.social-media-list {
  text-align: center;

  li {
    display: inline;
  }

  a {
    color: $color-link;
  }

  a:hover {
    color: $color-link-hover;
  }
}



/**
 * Site main
 */
body > main {
  justify-self: center;
  max-width: $content-width;
}

.post-list {
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    margin-bottom: $spacing-unit;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post-date {
  display: inline-block;
}

.post-description {
  display: inline-block;
  margin-left: $spacing-unit-small;
}

.tag {
  display: inline;
  padding: .2em .6em .3em;
  font-size: $font-size-small;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  border: 1px solid $color-accent-3;
  color: $color-accent-3;


  &:hover {
      color: $color-text;
  }

  &:before {
    content: "\f02b";
    color: $color-accent-3;
    font-family: FontAwesome;
    padding-right: .5em;
  }
}

.anchorjs-link {
  color: $color-accent-1;
  margin-left: -0.6em !important;

  &:visited {
    color: $color-accent-1;
  }

  &:hover {
    color: $color-text;
  }
}

/**
* Tag Index
*/
.tag-index {
  h2 {
    margin-top: $spacing-unit;

    &:first-child {
      margin-top: 0;
    }
  }
}


/**
 * Posts
 */
.post {
  margin-bottom: $spacing-unit;

  header {
    margin-bottom: $spacing-unit;

    .post-tags:before {
      content: "| Tags: ";
    }
  }

  h1 {
    @include relative-font-size(3.625);
    @include media-query($on-laptop) {
      @include relative-font-size(3.25);
    }

    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
  }

  h2 {
    @include relative-font-size(3);
    @include media-query($on-laptop) {
      @include relative-font-size(2.75);
    }
  }

  h3 {
    @include relative-font-size(2.625);
    @include media-query($on-laptop) {
      @include relative-font-size(2.375);
    }

    text-decoration: underline;
  }

  h4 {
    @include relative-font-size(2.25);
    @include media-query($on-laptop) {
      @include relative-font-size(2.125);
    }
  }
}
