<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{% link favicon.ico %}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link css/main.scss %}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
          href="{{ site.baseurl }}{% link feed.xml %}">
</head>
<body>
<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
    </div>
</header>

<div class="page-content">
    <div class="wrapper">
        {{ content }}
    </div>
</div>

<footer class="site-footer">
    <div class="wrapper">
        <ul class="social-media-list">
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                      <span class="icon">
                        {% include icon-github.svg %}
                      </span>
                </a>
            </li>
            {% endif %}
            {% if site.email %}
            <li>
                <a href="mailto:{{ site.email }}">
                      <span class="icon">
                          {% include icon-mail.svg %}
                      </span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ site.baseurl }}{% link feed.xml %}">
                      <span class="icon">
                          {% include icon-rss.svg %}
                      </span>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
