<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{% link favicon.ico %}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link assets/css/style.scss %}">
    {% feed_meta %}
</head>
<body>
<header>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
</header>

<main>
    {{ content }}
</main>

<footer>
    <ul class="social-media-list">
        {% if site.github_name %}
        <li>
            <a href="https://github.com/{{ site.github_name }}">
                <span class="fa fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endif %}
        {% if site.email %}
        <li>
            <a href="mailto:{{ site.email }}">
                <span class="fa fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{ site.baseurl }}{% link feed.xml %}">
                <span class="fa fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>
