<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{% link favicon.ico %}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link assets/css/style.scss %}">
    {% feed_meta %}
    <script src="{{ site.baseurl }}{% link assets/javascript/anchor-js/anchor.min.js %}"></script>
</head>
<body>
<header>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
</header>

<main>
    {{ content }}
</main>

<footer>
    <ul class="social-media-list">
      {% for entry in site.data.social-media %}
      <li>
          <a href="{{ entry.href | replace: '!BASE_URL!', site.baseurl }}{{ entry.name }}">
              <i class="fa {{ entry.icon }} fa-lg"></i>
          </a>
      </li>
      {% endfor %}
  </ul>
</footer>
<script>anchors.add();</script>
</body>
</html>
